@{ ViewData["Title"] = "Test"; }

<h2>Hantera val nedan</h2>
<p>
  <a asp-action="Login">Logga in</a> |
  <a asp-action="LoginAdmin">Logga in som admin</a> |
  <a asp-action="Logout">Logga ut</a>
</p>
<p>
  <a asp-action="Protected">Skyddad sida (inloggad)</a> |
  <a asp-action="Admin">Skyddad sida (admin)</a>
</p>