<h2>Administration</h2>

<a asp-controller="Model" asp-action="HandleModels">Manage models</a> |
<a asp-controller="" asp-action=""></a>

@* <<<<<<< Updated upstream
            @if (user.IsAdmin())
            {
              <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Model" asp-action="HandleModels">Manage
                  Models</a>
              </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Supplier" asp-action="HandleSupplier">
                                    Manage
                                    Suppliers
                                </a>
                            </li>
            }
            @if (user.IsAdmin())
            {
              <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Material" asp-action="ManageMaterial">Manage
                  Material</a>
              </li>
            } *@