
@model OrderViewModel
<form asp-action="OrderForm" method="post">
    <h2 style="text-align: center;">ORDER YOUR HAT HERE</h2>
        <br />

        <div class="form-group">
            <label asp-for="Size">Please enter how big head you have here in cm:</label>
            <textarea asp-for="Size" class="form-control"></textarea>
            <span asp-validation-for="Size" class="text-danger"></span>
        </div>
        <br />

        <div class="form-group">
            <label asp-for="Description">Description: </label>
           
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
       
       <div>
            <label for="exampleSelect1" class="form-label mt-4">Choose model:</label>
            <select asp-items="@ViewBag.Models" class="form-select" id="exampleSelect1" asp-for="ModelID"></select>

        </div>
    <br />

    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>

    <br />

</form>
