@model Order

<h1 style="color: rgb(4, 249, 4);">ORDER CONFIRMED</h1>
<div>
    <div>
        <h4>Your order has been placed.</h4>
        <p>Estimated delivery date: @Model.EstimatedDeliveryDate</p>
        <p>Status: @Model.Status</p>
        <p>Order sum: @Model.OrderSum</p>
    </div>
</div>