@model CartViewModel

<h1>Shopping Cart</h1>

@foreach(var item in Model.hats)
{
    <tr>
        <img class="cartpicture" src="@item.Model.ImagePath">
        <td>@item.Model.ModelName</td>
        <td>@item.Description</td>
        <td>@item.Price</td>
    </tr>
}
