.orderbox {
    background-color:aliceblue;
    display: flex;
    flex-wrap: wrap;
    border: 2px;
    border-color:cornflowerblue;
    margin: 1em;
}

.order {
    background-color: antiquewhite;
    margin: 1em;

}