@model ModelViewModel

<h1 style="text-align: center;">HANDLE SELECTION OF HATS</h1>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Current models</h2>
            <form method="post" asp-action="EditModel">
                <div class="form-group">
                    <label>Choose a model:</label>
                    <select class="form-control" name="selectedModel">
                        <option value="" disabled selected>&lt;Choose a model&gt;</option>
                        @if (ViewBag.CurrentModels != null)
                        {
                            foreach (var currentModel in ViewBag.CurrentModels)
                            {
                                <option value="@currentModel.ID">@currentModel.ModelName</option>
                                
                            }
                        }
                    </select>
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Edit</button>
                <button type="submit" class="btn btn-primary btn-danger" asp-action="DeleteModel">Delete</button>
            </form>
        </div>
        <div class="col-md-6">
            <h2>Add new model</h2>
            <form method="post" asp-action="AddNewModel">
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label>Model name: </label>
                    </div>
                    <div class="col-sm-4" style="margin-bottom: 5px;">
                        <input asp-for="ModelName" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label>Description: </label>
                    </div>
                    <div class="col-sm-4" style="margin-bottom: 5px;">
                        <input asp-for="Description" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label>Picture: </label>
                    </div>
                    <div class="col-sm-4" style="margin-bottom: 5px;">
                        <input asp-for="Picture" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label>Product code: </label>
                    </div>
                    <div class="col-sm-4" style="margin-bottom: 5px;">
                        <input asp-for="ProductCode" class="form-control" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" asp-controller="Model" asp-action="AddNewModel">Add new
                    model</button>
            </form>
        </div>
    </div>
</div>
